
body 
{
    margin:0px auto;
    font-family: Tahoma;
    background:#32467f;
}
#main
{
    height: 100%;
position: fixed;
width: 100%;
}
#head
{
margin: 0px;
width: 100%;
height: 8%;
background: #ededed url('themes/login/top.png') repeat-x center center;
clear: left;
}
#head #logo
{
    display: block;
    width: 115px;
    height: 50px;
    float: left;
    background:transparent url('themes/login/iDAS-logo-small.png') no-repeat center center;
    margin-left:30px;

}
#head #title
{
float: right;
margin-right: 100px;
line-height: 48px;
font-size: 18px;
font-weight: bold;
color: #415ca5;
font-family: Cambria, Times New Roman, Tahoma;
    
}
#contentpage
{
    margin:0px auto;
    height:100%;
    width:100%; 
}

.bottom
{
    margin:0px;
    width:100%;
     height:8%;
    position:fixed;
    background:#32467f url('themes/login/bottom.png') repeat-x top center;
    clear:left;
    
}
.contenmaincenter
{
    width:100%;
    height:84%;   
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#35529f),color-stop(50%,#6981c1), color-stop(50%,#6981c1), color-stop(100%,#90A4DB));
    clear:left;
}
.maincenter
{
   margin-bottom:0px;
    width:100%;
    height:570px;   
    background: url('themes/login/main1.jpg') no-repeat;
    clear:left;
    
}
#containlogin
{
position: absolute;
display: block;
width: 380px;
height: 250px;
top: 207px;
padding-top: 29px;
padding-left: 25px;
padding-right: 24px;
padding-bottom: 10px;
right: 8%;
box-shadow: 0 5px 5px #546bad;
-moz-box-shadow: 0 5px 5px #546bad;
-webkit-box-shadow: 0 5px 5px #546bad;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background: -moz-linear-gradient(left, #CCCCCC 0%, #556eb4 50%, #556eb4 50%, #CCCCCC 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#556eb4),color-stop(50%,#C0CBEB), color-stop(50%,#C0CBEB), color-stop(100%,#556eb4));
    
}
#ext-gen1061
{
float: left;
margin-right: 10px;
color: #49609e;
text-decoration: none;
line-height: 23px;
font-family: Tahoma;
font-size: 10pt;
margin-top: 5px;
}
#ext-gen10612
{
 float:right;
 margin-right:10px;
 color:#49609e;
 text-decoration: none;
 line-height: 23px;
 margin-top:5px;
 font-family: Tahoma;
 font-size : 10pt;
}
#button-1013-btnInnerEl
{
    color: white;
    font-size: 10pt;
    font-weight: bold;
    
}
    
ul#ulbottom
{
padding: 0;
list-style-type: none;
overflow: hidden;
height: 30px;
width: 1008px;
float: left;
padding-left: 5px;
margin-top: 19px;
font-size: 8pt;
color: #fff;
font-family: Tahoma;
}
ul#ulbottom li.libottom
{
    display: inline;
    margin: 13px;
}

ul#ulbottom li.libottom a
{
    text-decoration:none;
    color: #fff;
    font-family: Tahoma;
}
#captcha
{
    width: 330px;
    height: 30px !important;
    position: absolute;
    top: 345px;
    padding:0px;
    vertical-align:middle;
}
.captcha_img
{
    float:left !important;
    width:100px;
    height:30px;
    margin-right:5px;
}
.captcha_input
{
    font-family: Times New Roman;
    float: left;
    height: 30px;
    width:224px;
    text-transform:uppercase;
    text-align: center;
    font-size: 14pt !important;
    color: #9f9f9f;
    font-weight :bold;
    border:none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;     
}
.field-validation-error
{
   color:Red;
   float: left;
   line-height: 51px;
   font-weight:bold;
}
.input-validation-error {
    
    background-color: #F7D900;
    border:none;
}
.editor-field input#txtEmail
{
    width: 330px;
    height: 28px;
    margin-bottom: 5px;
    font-size: 11pt;
    padding-left:27px;
    font-family: Tahoma;
    color: #9f9f9f;
    background:#fff url('themes/login/email.png') no-repeat left center !important;
    border:none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;    
}
.editor-field input#txtPassWord
{
    width: 330px;
    height: 28px;
    margin-bottom: 5px;
    font-size:11pt;
    padding-left:27px;
    background:#fff url('themes/login/password.png') no-repeat left center !important;
    border:none;
    font-family: Tahoma;
    color: #9f9f9f;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;        
}
#dropdowntipo
{
    width: 358px;
    height: 28px;
    margin-bottom: 5px;
    font-size:11pt;
    padding-left:26px;
    background:#fff url('themes/login/language.png') no-repeat left center;
    border: none;
    font-family: Tahoma;
    color: #9f9f9f;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;            
}
#chkluumatkhau
{
    float:left;
    width:13px;
    height:13px;
    margin-top:10px;
    
}
#login
{
float: right;
width: 89px;
font-family: Tahoma;
margin-right: 0px;
margin-top: 10px;
height: 33px;
color: white;
font-size: 10pt;
background: #768ecb url('themes/login/button.png') repeat-x center center;
border: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
cursor: hand;
}