<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    <script src="~/Scripts/SystemScript/common.js"></script>

    @RenderSection("headtag", required: false)
</head>
<body>
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default).Namespace("CompanyX")    
    @RenderBody()
</body>
</html>
