<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>iDAS - Center</title>
    <link href="~/Images/iDAS.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    <style>
        #unlicensed {
            display: none !important;
            width: 0px;
        }
        .x-edit-image {
            background-image: url('/Images/icon/editImage.png');
        }
    </style>
    @RenderSection("headtag",required: false)
</head>
<body>
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)
    @RenderBody()
</body>
</html>
