<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>iDAS - Center</title>
    <link href="~/Images/iDAS.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    <style>
        #unlicensed {
            display: none !important;
            width: 0px;
        }
    </style>
    @RenderSection("headtag", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
