body {
    margin-top: 0px;
    margin-left: 0px;
    font-family: Arial !important;
    color: #2e2e2e;
    font-size: 12px !important;
    background-color: #fff !important;
}

.idas-header-hotline {
    color: #34519f;
    font-size: 15px;
    text-decoration: none;
}

    .idas-header-hotline:hover {
        color: #34519f;
        text-decoration: none;
    }

    .idas-header-hotline > span {
        color: #9f2b22;
    }

.idas-header {
    width: 100%;
    display: inline-block;
    color: #34519f;
}

.idas-logo {
    float: left;
    width: 120px;
    padding: 10px 0px 10px 0px;
}

.idas-adv {
    float: left;
    color: #34519f;
    font-size: 16px;
    text-align: right;
    padding: 12px 0px 0px 0px;
}

.idas-header-function-area {
    float: right;
    text-align: right;
}

.idas-language-area {
    width: 100%;
}

.idas-language-function {
    display: inline-block;
    border-right: 1px solid #34519f;
    border-left: 1px solid #34519f;
    border-bottom: 1px solid #34519f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: #e4e4e4 2px 2px;
    color: #fff;
    padding: 1px 1px 1px 1px;
}

.idas-header-function {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
}

    .idas-header-function > a {
        color: #34519f;
        text-decoration: none;
    }

        .idas-header-function > a:hover {
            color: #9f2b22;
            text-decoration: none;
        }

#idas-menu {
    background-color: #34519f !important;
    color: #ffffff !important;
    font-size: 13px !important;
    font-weight: bold;
}

.idas-product-panel {
    display: none;
    position: absolute;
    background-color: #4561ab;
    top: 117px;
    height: 411px;
    z-index: 1100;
    width: 100%;
    box-shadow: rgba(0,0,0,0.2) 0px 5px;
}

.idas-service-panel {
    display: none;
    position: absolute;
    background-color: #4561ab;
    top: 117px;
    height: 411px;
    z-index: 1100;
    width: 100%;
    box-shadow: rgba(0,0,0,0.2) 0px 5px;
}

.idas-search-panel {
    display: none;
    position: absolute;
    background-color: #4561ab;
    top: 117px;
    height: 80px;
    z-index: 1100;
    width: 100%;
    box-shadow: rgba(0,0,0,0.2) 0px 5px;
}

.idas-search-form {
    display: inline-block;
    text-align: center;
    margin-left: 250px;
}

.idas-search-text {
    float: left;
    width: 450px;
    padding-right: 5px;
}

.idas-search-button {
    float: left;
    width: 50px;
}

.idas-product-border {
    height: 330px;
    border-left: 1px solid #acaaab;
    border-right: 1px solid #acaaab;
}

.idas-wrap-left {
    float: left;
    padding: 0px 5px 5px 0px;
}

.idas-wrap-right {
    float: right;
    padding: 0px 0px 5px 5px;
}

.idas-wrap-center {
    text-align: center;
}

.idas-wrap-inline {
    display: inline-block;
    width: 100%;
}

.idas-border-all {
    border: 1px solid #cf362a;
}

.idas-border {
    border-right: 1px solid #e4e4e4;
}

.idas-border-left {
    border-left: 1px solid #e4e4e4;
}

.idas-product-panel-title {
    color: #fff !important;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

.idas-product-panel-link {
    color: #fff !important;
    font-size: 16px;
    text-decoration: none;
}

    .idas-product-panel-link:hover {
        text-decoration: underline;
    }

.idas-product-panel-detail {
    color: #d2d1d2 !important;
    font-size: 12px;
    font-style: italic;
}

.idas-menu-active {
    background-color: #4561ab;
}

#idas-menu > li > a {
    border-left: 1px solid #3d5aaa;
    color: #ffffff;
}

    #idas-menu > li > a:hover {
        background-color: #4561ab;
    }

.idas-product-menu {
    position: absolute;
    display: none;
    background-color: #4561ab;
    height: 412px;
    width: 100%;
    z-index: 1100;
    top: 119px;
}

footer {
    border-top: #274595 1px solid;
    font-size: 11px;
    color: #ffffff;
    width: 100%;
}

.idas-span1 {
    float: left;
    width: 13%;
    margin-left: 15px;
    margin-right: 15px;
}

    .idas-span1 > ul {
        float: left;
        list-style: none;
        padding-left: 0px;
    }

.idas-span2 {
    float: right;
    width: 18%;
}

    .idas-span2 > ul {
        float: left;
        list-style: none;
    }

.idas-footer-menu {
    display: inline-block;
    width: 100%;
}

    .idas-footer-menu > ul {
        float: left;
        list-style: none;
    }

.idas-footer-menu-title {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #283a6c;
}

.idas-footer-menu-contact {
    color: #ffffff;
    text-decoration: none;
}

.idas-footer-menu-item {
    color: #ffffff;
    text-decoration: none;
}

    .idas-footer-menu-item:hover {
        color: #ffffff;
        text-decoration: underline;
    }

.idas-footer-icon {
    display: inline-block;
}

.idas-footer-copyright {
    color: #091944;
    padding-top: 5px;
}

.idas-area-title {
    font-size: 20px;
    color: #9f2b22;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-area-title-blue {
    font-size: 20px;
    color: #34519f;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-title {
    font-size: 16px;
    color: #34519f;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-title-red {
    color: #9f2b22;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-news-title {
    font-size: 16px;
    color: #34519f;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-news-update {
    color: #34519f;
    font-size: 12px;
    color: #787777;
    font-style: italic;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0pt;
}

.idas-hot-news {
    line-height: 20px;
    list-style-image: url(../Images/icon/icon-bullet.png) !important;
    padding-left: 25px;
}

    .idas-hot-news > li {
        margin-bottom: 3pt;
    }

.idas-hot-link {
    color: #34519f;
    font-size: 14px !important;
    text-decoration: none;
}

    .idas-hot-link:hover {
        color: #34519f;
        text-decoration: underline;
    }

.idas-question {
    color: #34519f;
    font-size: 14px !important;
    text-decoration: none;
}

.idas-item-content {
    text-align: justify;
    line-height: 20px;
    font-size: 13px !important;
}

    .idas-item-content > ul {
        text-align: justify;
        line-height: 20px;
        font-size: 13px !important;
        list-style-image: url(../Images/icon/icon-bullet.png);
        padding-left: 25px;
    }

        .idas-item-content > ul > li {
            margin-top: 3pt;
            margin-bottom: 3pt;
        }

    .idas-item-content > p {
        text-align: justify;
        line-height: 20px;
        font-size: 13px !important;
        margin-top: 5pt;
        margin-bottom: 5pt;
    }

.idas-news-footer {
    float: right;
    text-align: center;
}

    .idas-news-footer > .idas-author {
        font-weight: bold;
    }

    .idas-news-footer > .idas-source {
        font-style: italic;
    }

.idas-product-area {
    width: 100%;
    text-align: center;
}

.idas-product-main {
    margin: 0 auto;
    display: inline-block;
}

.idas-product-property {
    list-style: none;
    padding: 30px 10px 0px 5px;
    width: auto;
}

    .idas-product-property > li {
        border-bottom: 1px solid #ececec;
        margin: 0px 0px 20px 0px;
        text-align: left;
    }

        .idas-product-property > li:hover {
            border-bottom: 1px solid #9f2b22;
        }

        .idas-product-property > li > a {
            color: #34519f;
            text-decoration: none;
        }

            .idas-product-property > li > a:hover {
                color: #9f2b22;
                text-decoration: none;
            }

.idas-button-red {
    background-color: #9f2b22;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}

    .idas-button-red:hover {
        color: #fff;
        text-decoration: none;
        background-color: #b03d34;
    }

.idas-button-blue {
    background-color: #34519f;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}

    .idas-button-blue:hover {
        color: #fff;
        text-decoration: none;
        background-color: #5e73b2;
    }

.idas-button-orange {
    background-color: #f2ac32;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}

    .idas-button-orange:hover {
        color: #fff;
        text-decoration: none;
        background-color: #f1b650;
    }

.idas-button-green {
    background-color: #2ad026;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}

    .idas-button-green:hover {
        color: #fff;
        text-decoration: none;
        background-color: #41da3e;
    }

.idas-button-gray {
    background-color: #d8d8d8;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    text-decoration: none;
}

    .idas-button-gray:hover {
        color: #fff;
        text-decoration: none;
        background-color: #f1f1f1;
    }

.idas-background {
    background-color: #34519f !important;
}

.idas-background-white {
    background-color: #fff !important;
}

.idas-product-banner {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.idas-product-base {
    background-color: #f3f3f3;
    border-bottom: 1px solid #cecece;
}

.idas-product-topic {
    list-style: none;
    text-transform: uppercase;
    color: #34519f;
    line-height: 22px;
}

.idas-product-link {
    color: #34519f;
    font-size: 14px;
    text-decoration: none;
}

    .idas-product-link:hover {
        color: #34519f;
        text-decoration: underline;
    }

.idas-vat-link {
    color: #34519f;
    font-size: 18px;
    text-decoration: none;
}

    .idas-vat-link:hover {
        color: #34519f;
        text-decoration: none;
    }


.idas-support-hotline {
    display: inline-block;
    text-align: center;
    color: #34519f;
    font-size: 30px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    width: 100%;
}

.idas-feature-area {
    display: inline-block;
}

.idas-feature-icon {
    float: left;
    padding: 5px 5px 0px 0px;
}

.idas-feature-content {
    float: left;
}

.idas-feature-title {
    color: #34519f;
    font-size: 14px;
    font-weight: bold;
}

.idas-feature-summary {
    text-align: justify;
    line-height: 20px;
    font-size: 13px;
}

.idas-video-frame {
    border: #c4c4c4 1px solid;
}

.idas-other-product {
    line-height: 20px;
    font-size: 14px !important;
    list-style-image: url(../Images/icon/icon-bullet.png) !important;
    padding-left: 25px;
}

.idas-other-product-link {
    color: #cf362a;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

    .idas-other-product-link:hover {
        color: #cf362a;
        text-decoration: underline;
    }

.idas-column1 {
    float: left;
    width: 20%;
    padding: 15px;
}

    .idas-column1 > ul {
        color: #34519f !important;
    }

.idas-topic-active {
    background-color: #4561ab;
    color: #fff;
}

.idas-column2 {
    float: left;
    width: 80%;
    padding: 15px;
}

.idas-step-span {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    min-height: 310px;
}

.idas-deployment-bg {
    background-image: url(../Images/icon/bg-deployment.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.idas-management-bg {
    background-image: url(../Images/icon/bg-management.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.idas-compliance-bg {
    background-image: url(../Images/icon/bg-compliance.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.idas-benefit-bg {
    background-image: url(../Images/icon/bg-benefit.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.idas-title-arrow {
    float: right;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.idas-deployment-title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b9b9b9;
    padding: 10px;
}

.idas-management-title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #76b351;
    padding: 10px;
}

.idas-compliance-title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #34519f;
    padding: 10px;
}

.idas-benefit-title {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #cf362a;
    padding: 10px;
}

.idas-step-span > ul {
    font-size: 13px;
    line-height: 20px;
    padding: 0px 15px 0px 15px;
    list-style-image: url(../Images/icon/icon-bullet.png);
}

    .idas-step-span > ul > li {
        text-align: justify;
        margin-bottom: 5pt;
    }

.idas-float-left {
    float: left;
}

.idas-box-title {
    color: #34519f;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f3f3f3;
    padding: 10px;
}

.idas-box-sign {
    float: right;
    font-size: 18px;
    color: #34519f;
}

.idas-box {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

    .idas-box > p {
        font-size: 13px;
        text-align: justify;
        line-height: 20px;
        margin-bottom: 5pt;
        margin-top: 5pt;
    }

    .idas-box > ul {
        font-size: 13px;
        line-height: 20px;
        padding: 0px 15px 0px 30px;
        list-style-image: url(../Images/icon/icon-bullet.png);
    }

.idas-normal-title-red {
    font-size: 12px;
    font-weight: bold;
    color: #9f2b22;
}

.idas-normal-title-blue {
    font-size: 12px;
    font-weight: bold;
    color: #34519f;
}

.idas-box > ul > li {
    text-align: justify;
    margin-bottom: 5pt;
}

.idas-tab-content {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*Style for Validation*/
.bv-form .help-block {
    margin-bottom: 0;
}

.bv-form .tooltip-inner {
    text-align: left;
}

.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}

.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
    top: 0;
}

.bv-form .bv-icon-input-group {
    top: 0;
    z-index: 100;
}

.validation-summary-errors {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.field-validation-valid {
    display: none;
    font-style: italic;
    font-size: 12px;
    color: red;
}

/*Style for price sheet*/
.idas-productline-block {
    display: inline-block;
    width: 100%;
    padding-left: 50px;
}

.idas-productline-wrap {
    float: left;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

    .idas-productline-wrap:hover {
        border: 1px solid #34519f;
    }

.idas-productline-wrap-selected {
    border: 1px solid #34519f;
}

.idas-productline-wrap-unselected {
    border: 1px solid #ddd;
}

.idas-productline-wrap > a > img:hover {
    -webkit-filter: grayscale(0%);
}

.idas-product-checked {
    -webkit-filter: grayscale(0%);
}

.idas-product-unchecked {
    -webkit-filter: grayscale(100%);
}

.idas-productline-wrap > a p {
    color: #34519f;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0pt;
    text-decoration: none;
    cursor: pointer;
}

.idas-productline-wrap > a:hover {
    color: #34519f;
    text-decoration: none;
    cursor: pointer;
}

.idas-productline-wrap > a > p > span {
    color: #9f2b22;
}

.idas-productline-space {
    float: left;
    padding: 20px;
}

.idas-price {
    font-size: 20px;
    color: #9f2b22;
}

.idas-price-table {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    font-size: 18px;
    color: #34519f;
}

.idas-price-table-header {
    background-color: #4d6ab7;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid #dddddd;
}

.idas-item-price {
    color: #34519f;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

    .idas-item-price > span {
        color: #9f2b22;
    }

.idas-total-price {
    color: #34519f;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

    .idas-total-price > span {
        color: #9f2b22;
    }

    .idas-total-price > p {
        color: #8d8d8d;
        font-size: 14px;
        font-style: italic;
        padding: 0px 0px 0px 50px;
        text-align: right;
    }

.idas-total-cost {
    color: #9b2a22;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.idas-content-column {
    width: 60%;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 15px 0px 15px 5px;
}

.idas-content-center {
    text-align: center;
}

.idas-content-column > a {
    color: #34519f;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.idas-content-column > span {
    color: #34519f;
    font-size: 16px;
}

.idas-content-column > p {
    color: #8d8d8d;
    font-size: 14px;
    font-style: italic;
    padding: 0px 0px 0px 50px;
}

.idas-content-column > a:hover {
    color: #34519f;
    text-decoration: underline;
    cursor: pointer;
}

.idas-content-column > a > img {
    padding-right: 5px;
}

.idas-content-column > img {
    padding-right: 5px;
}

.idas-unitprice-column {
    width: 20%;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 15px 10px 15px 0px;
    text-align: right;
    color: #9a281f;
}

.idas-unit-column {
    width: 20%;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 15px 10px 15px 0px;
    text-align: center;
    color: #9a281f;
}

.idas-unit-total {
    font-size: 20px;
}

.idas-offline-column {
    width: 20%;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 15px 10px 15px 0px;
    text-align: center;
    font-size: 13px;
    color: #9a281f;
}

.idas-unitprice-column > a:hover {
    cursor: pointer;
}

.idas-unitprice-column > p {
    color: #8d8d8d;
    font-size: 16px;
    padding: 0px 0px 0px 50px;
    text-align: right;
}

.idas-cost-column {
    width: 15%;
    background-color: #34519f;
    color: #fff;
    font-size: 16px;
    padding: 15px 0px 15px 10px;
    vertical-align: top;
}

.idas-currency-column {
    width: 5%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #34519f;
    vertical-align: top;
    padding: 25px 0px 15px 10px;
}

.idas-selection-link {
    color: #34519f;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

    .idas-selection-link:hover {
        color: #34519f;
        text-decoration: none;
    }

.control-label > span {
    color: red;
    font-weight: bold;
}

.idas-float-left > i > span {
    color: red;
    font-weight: bold;
}

.idas-color-blue {
    color: #34519f;
}

.idas-color-red {
    color: #982a21;
}

.idas-content-column > span {
    color: #34519f;
    font-size: 16px;
}

.idas-input1 {
    border: 2px solid #34519f;
    border-radius: 4px;
    color: #9b2a22;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    width: 120px;
}

.idas-input2 {
    border: 2px solid #34519f;
    background-color: #34519f;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 120px;
}

#itemVAT:hover {
    cursor: pointer;
}
/*End style*/

.idas-hidden {
    display: none;
}

.idas-visible {
    display: block;
}

.idas-float-right {
    float: right;
    text-align: right;
}

.idas-margin {
    margin: 10pt;
}

.idas-margin-top30 {
    margin-top: 30pt;
}

.idas-margin-top25 {
    margin-top: 25pt;
}

.idas-margin-top20 {
    margin-top: 20pt;
}

.idas-margin-top15 {
    margin-top: 15pt;
}

.idas-margin-top10 {
    margin-top: 10pt;
}

.idas-margin-top5 {
    margin-top: 5pt;
}

.idas-margin-top3 {
    margin-top: 3pt;
}

.idas-margin-top0 {
    margin-top: 0pt;
}

.idas-margin-bottom30 {
    margin-bottom: 30pt;
}

.idas-margin-bottom25 {
    margin-bottom: 25pt;
}

.idas-margin-bottom20 {
    margin-bottom: 20pt;
}

.idas-margin-bottom15 {
    margin-bottom: 15pt;
}

.idas-margin-bottom10 {
    margin-bottom: 10pt;
}

.idas-margin-bottom5 {
    margin-bottom: 5pt;
}

.idas-margin-bottom3 {
    margin-bottom: 5pt;
}

.idas-margin-bottom0 {
    margin-bottom: 0pt;
}

.idas-margin-left0 {
    margin-left: 0px;
}

.idas-margin-left5 {
    margin-left: 0px;
}

.idas-margin-left10 {
    margin-left: 10px;
}

.idas-margin-left15 {
    margin-left: 15px;
}

.idas-margin-left20 {
    margin-left: 20px;
}

.idas-margin-left25 {
    margin-left: 25px;
}

.idas-margin-left30 {
    margin-left: 30px;
}

.idas-margin-right0 {
    margin-right: 0px;
}

.idas-margin-right5 {
    margin-right: 0px;
}

.idas-margin-right10 {
    margin-right: 10px;
}

.idas-margin-right15 {
    margin-right: 15px;
}

.idas-margin-right20 {
    margin-right: 20px;
}

.idas-margin-right25 {
    margin-right: 25px;
}

.idas-margin-right30 {
    margin-right: 30px;
}

.idas-margin-right35 {
    margin-right: 35px;
}

.idas-margin-right40 {
    margin-right: 40px;
}

.idas-padding3 {
    padding: 3px;
}

.idas-padding5 {
    padding: 5px;
}

.idas-padding10 {
    padding: 10px;
}

.idas-padding15 {
    padding: 15px;
}

.idas-padding20 {
    padding: 20px;
}

.idas-padding25 {
    padding: 25px;
}

.idas-padding30 {
    padding: 30px;
}

.idas-padding-top30 {
    padding-top: 30px;
}

.idas-padding-top25 {
    padding-top: 25px;
}

.idas-padding-top20 {
    padding-top: 20px;
}

.idas-padding-top15 {
    padding-top: 15px;
}

.idas-padding-top10 {
    padding-top: 10px;
}

.idas-padding-top8 {
    padding-top: 8px;
}

.idas-padding-top5 {
    padding-top: 5px;
}

.idas-padding-top3 {
    padding-top: 3px;
}

.idas-padding-top0 {
    padding-top: 0px;
}

.idas-padding-bottom30 {
    padding-bottom: 30px;
}

.idas-padding-bottom25 {
    padding-bottom: 25px;
}

.idas-padding-bottom20 {
    padding-bottom: 20px;
}

.idas-padding-bottom15 {
    padding-bottom: 15px;
}

.idas-padding-bottom23 {
    padding-bottom: 23px;
}

.idas-padding-bottom10 {
    padding-bottom: 10px;
}

.idas-padding-bottom5 {
    padding-bottom: 5px;
}

.idas-padding-bottom3 {
    padding-bottom: 3px;
}

.idas-padding-bottom0 {
    padding-bottom: 0px;
}

.idas-padding-left0 {
    padding-left: 0px;
}

.idas-padding-left5 {
    padding-left: 5px;
}

.idas-padding-left10 {
    padding-left: 10px;
}

.idas-padding-left15 {
    padding-left: 15px;
}

.idas-padding-left20 {
    padding-left: 20px;
}

.idas-padding-right0 {
    padding-right: 0px;
}

.idas-padding-right5 {
    padding-right: 5px;
}

.idas-padding-right10 {
    padding-right: 10px;
}

.idas-padding-right15 {
    padding-right: 15px;
}

.idas-padding-right20 {
    padding-right: 20px;
}

.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
    color: #04468C;
}
.x-column-header {
    color: #04468C;
    font: normal 11px/13px tahoma,arial,verdana,sans-serif;
    font-weight: bold;
    text-align: center;
}