@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Web.ExtExtend;
@model iDAS.Items.StatisticalQualityTargetItem
    <table class="row-expand">
        <tr>
            <td class="td-header">
                Hoàn thành:
            </td>
            <td class="a-grid-cell">
               @(Model.Complete)
            </td>
        </tr>
        <tr>
            <td class="td-header">
                Đạt:
            </td>
            <td class="a-grid-cell">
                @(Model.Ok)
            </td>
        </tr>
        <tr>
            <td class="td-header">
                Không đạt:
            </td>
            <td class="a-grid-cell">
                @(Model.NotOk)
            </td>
        </tr>
        <tr>
            <td class="td-header"> Không hoàn thành:</td>
            <td class="a-grid-cell">
                @(Model.NotComplete)
            </td>
        </tr>
    </table>
<style>
    .row-expand td {
        padding-right: 10px;
    }
    .td-header {
        color: #04468C;
    }
</style>