@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Utilities
@using iDAS.Web.ExtExtend
@model List<iDAS.Items.HumanAuditGradationCriteriaItem>
@{
    var auditTickId = ViewData["AuditTickId"];
}
@{
    System.Text.StringBuilder htmlSend = new System.Text.StringBuilder();
    htmlSend.Append("<form action='" + Url.Action("SaveAnswerQuestion") + "' id='frmSaveAnswerQuestion'>");
    var questions = new List<iDAS.Items.HumanAuditGradationCriteriaItem>();
    questions = Model;
    for (var i = 0; i < questions.Count(); i++)
    {
        htmlSend.Append("<div id='p" + i + "' style='border: 1px dotted gray; margin: 5px; padding: 5px;'><div>" + (i + 1).ToString() + "." + questions[i].Name + "</div><br/>");

        for (var j = 0; j < questions[i].Answer.Count(); j++)
        {
            
                htmlSend.Append("<div><input type='radio' name='" + "uId." + i + "' value='" + questions[i].Answer[j].ID + "'/>"
                        + questions[i].Answer[j].Name + "</div><br/>");
        }
        htmlSend.Append("</div>");
    }
    htmlSend.Append("<input type='Hidden' name ='auditTickId' value='" + auditTickId + "'/>");
    htmlSend.Append("<button type='submit' id='btnSumitAnswer' style='margin-left: 5px;'>Gửi kết quả</button></form>");
}
@(Html.X().Window()
          .ID("winNewAnswer")
          .Title("Tự đánh giá nhân sự")
          .Icon(Icon.UserComment).Height(200)
          .Maximized(true)
          .BodyPadding(0)
          .Constrain(true).AutoScroll(true)
          .Html(
              htmlSend.ToString()
            )
            
)
