@using Ext.Net.MVC
@using Ext.Net
@(Html.X().Window()
    .Title("Danh sách lịch làm việc")
    .Modal(true)
    .BodyStyle("background: #fff;")
    .CloseAction(CloseAction.Destroy)
    .Width(600)
    .Height(400)
    .Layout("fit")
    .Items(
        Html.X().DataView()
        .ItemSelector("div.event")
        .AutoScroll(true)
        .Store(Html.X().Store()
            .Model(Html.X().Model()
                .Fields("EventId", "CalendarId", "Title", "Location", "Notes", "Url", "IsAllDay", "Reminder")
                .Fields("StartDate", ModelFieldType.Date)
                .Fields("EndDate", ModelFieldType.Date)
            )
            .DataSource(ViewBag.Events as List<EventModel>)
        )
        .Tpl(@<text>
            <tpl for=".">
                <div class="event">
                    <table>
                        <caption>{Title} ({CalendarId}-{EventId})</caption>
                        <tr>
                            <th style="text-align:left">Ngày bắt đầu:</th>
                            <td>{StartDate:date("d/m/Y H:i")}</td>
                        </tr>
                        <tr>
                            <th style ="text-align:left">Ngày kết thúc:</th>
                            <td>{EndDate:date("d/m/Y H:i")}</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Địa điểm:</th>
                            <td>{Location}</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Ghi chú:</th>
                            <td>{Notes}</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Url:</th>
                            <td>{Url}</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Cả ngày:</th>
                            <td>{IsAllDay}</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">Chuông báo:</th>
                            <td>{Reminder}</td>
                        </tr>                                
                    </table>
                </div>
            </tpl>
        </text>)            
    )
)
