@using Ext.Net;
@using Ext.Net.MVC;
@model iDAS.Core.SystemUserRegisterItem

<!DOCTYPE html>
<html>
<head>  
    <title>Phần mềm tích hợp các tiêu chuẩn hệ thống quản lý ISO</title>
    <link rel="shortcut icon" href="~/Content/image/iDAS.ico" type="image/ico" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
</head>
<body>
<div id="contentpage">
    <div id="head">
        <div id="logo"></div>
        <span id="title">Đăng ký trên Hệ thống</span>
    </div>
    <div class="contenmaincenter">
        <div class="maincenter">
            <div id="containlogin">
               
                 @(Html.X().FormPanelForModel(modelOnly: true)
                    .ID("FomrPanel1")
                    .Url(Url.Action("Register"))
                    .FieldDefaults(lb => { lb.LabelWidth = 120; lb.LabelSeparator = ""; })
                    .Frame(true)
                    .DefaultAnchor("100%")
                    .BodyPadding(10)
                    .Items(items =>
                    {
                        items.Add(Html.X().TextFieldFor(m => m.FullName).Icon(Icon.Vcard));
                        items.Add(Html.X().TextFieldFor(m => m.Account).Icon(Icon.User));
                        items.Add(Html.X().TextFieldFor(m => m.Password).Icon(Icon.Key));
                        items.Add(Html.X().TextFieldFor(m => m.ConfirmPassword).Icon(Icon.KeyGo));
                        items.Add(Html.X().TextFieldFor(m => m.Email).Icon(Icon.Email));
                        items.Add(Html.X().TextFieldFor(m => m.Code).Icon(Icon.LockKey));
                    })
                    .Buttons(
                        Html.X().Button().Text("Đăng ký").Icon(Icon.UserKey)
                            .Listeners(ls => ls.Click.Handler = "App.FomrPanel1.submit({waitMsg : 'Đăng ký trên hệ thống ....'})"),
                        Html.X().Button().Text("Đăng nhập").Icon(Icon.UserHome)
                            .Listeners(ls=> ls.Click.Handler ="document.location = '"+Url.Action("Login")+"';")
                    )
                )  
            </div>
        </div>
    </div>
    <div class="bottom">
        <ul id="ulbottom">
            <li class="libottom"><span>© 2013 D.A.S Technology Ltd. </span></li>
            <li class="libottom"><a href="#">Liên hệ với chúng tôi</a></li>
            <li class="libottom"><a href="#">Chính sách bảo mật</a> </li>
            <li class="libottom"><a href="#">Điều khoản sử dụng</a> </li>
        </ul>
    </div>
</div>
</body>
</html>
