@using Ext.Net.MVC
@using Ext.Net
@using iDAS.Utilities
@using iDAS.Web.ExtExtend
@model iDAS.Items.TaskRequestItem
@( Html.X().Window()
    .Title("Xem chi tiết đề xuất thực hiện công việc")
    .Icon(Icon.Zoom)
    .ID("wdEditTaskRequest")
    .Height(1)
    .Height(500)
    .Width(800)
    .Maximized(true)
    .Constrain(true)
    .Maximizable(true)
    .Layout(LayoutType.Fit)
    .Modal(true)
    .Resizable(false)
    .BodyPadding(0)
    .Border(false)
    .Center()
    .Items(
    Html.X().FormPanel()
            .Layout(LayoutType.Border)
            .StyleSpec("border: none;")
            .ID("frmTaskRequest")
            .Border(false)
            .Items(
            Html.X().TabPanel()
            .Region(Region.Center)
            .ActiveTabIndex(0)
            .Border(true)
            .Items(
            Html.X().Panel()
                    .BodyPadding(6)
                    .Icon(Icon.ApplicationViewDetail)
                    .Layout(LayoutType.VBox)
                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                    .StyleSpec("border: none;")
                    .Title("Nội dung công việc đề xuất thực hiện")
                    .Frame(true)
                    .Items(
                    Html.X().HiddenFor(m => m.ID),
                Html.X().ComboBoxFor(m => m.ParentID)
                    .FieldLabel("Phát sinh từ công việc")
                    .EmptyText("Chọn công việc cha ...")
                    .ID("cbParentID")
                    .AllowBlank(true)
                    .QueryMode(DataLoadMode.Local).Editable(false)
                    .ForceSelection(true)
                    .HideBaseTrigger(true)
                        .DisplayField("Name").ReadOnly(true)
                    .ValueField("ID")
                    .Store(
                        Html.X().Store()
                                .AutoLoad(true)
                                .Model(Html.X().Model()
                                .IDProperty("ID")
                                .Fields(
                                    new ModelField("ID", ModelFieldType.Int) { Mapping = "ID" },
                                    new ModelField("Name", ModelFieldType.String) { Mapping = "Name" })
                                )
                                .Proxy(
                                Html.X().AjaxProxy()
                                        .Url(Url.Action("LoadComboTask", "Task", new { area = "Task" }))
                                        .Reader(Html.X().JsonReader().Root("data")))
                                    )
                        .Triggers(
                        Html.X().FieldTrigger()
                                .Icon(TriggerIcon.SimpleEdit).Tag("c").Qtip("Chọn công việc cha"),
                         Html.X().FieldTrigger()
                                 .Icon(TriggerIcon.SimpleDelete).Tag("x").Qtip("Xóa")
                            ),
                    Html.X().TextFieldFor(m => m.Name)
                            .ID("txtName")
                                .AllowOnlyWhitespace(false).ReadOnly(true)
                            .FieldLabel("Tên công việc" + Html.Required())
                            .EmptyText("Nhập tên công việc")
                            .MaxLength(100)
                            .AllowBlank(false)
                            .BlankText("Tên công việc không được bỏ trống!"),
                    Html.X().ComboBoxFor(m => m.TaskCategoryID)
                            .FieldLabel("Nhóm công việc" + Html.Required())
                            .EmptyText("Chọn nhóm công việc")
                                .AllowBlank(false).ReadOnly(true)
                            .Editable(false)
                            .BlankText("Nhóm công việc không được bỏ trống!")
                            .DisplayField("Name")
                            .ValueField("ID")
                            .Store(
                                Html.X().Store()
                                    .AutoLoad(true)
                                    .Proxy(Html.X().AjaxProxy()
                                            .Url(Url.Action("GetDataIsUse", "TaskCategory", new { area = "Task" }))
                                        .Reader(Html.X().JsonReader().Root("data"))
                                    )
                                    .Model(Html.X().Model()
                                        .Fields(
                                            new ModelField("ID"),
                                            new ModelField("Name")
                                        )
                                    )
                            ),
                        Html.X().DepartmentFieldFor(m => m.Department).FieldLabel("Phòng ban" + Html.Required()).Multiple(false).AllowBlank(false).ReadOnly(true).Height(25),
                    Html.X().Container().Layout(LayoutType.Column).ColSpan(2).MarginSpec("0 0 0 0").Items(
                    Html.X().DateTimeFieldFor(m => m.StartTime)
                            .AllowBlank(false)
                                .FieldLabel("Bắt đầu" + Html.Required()).ReadOnly(true)
                            .ColumnWidth(0.5)
                            .ID("dfStart")
                            .MarginSpec("0 5 5 0"),
                    Html.X().DateTimeFieldFor(m => m.EndTime)
                            .LabelWidth(120)
                            .AllowBlank(false)
                                .FieldLabel("Kết thúc" + Html.Required()).ReadOnly(true)
                            .ColumnWidth(0.5)
                            .MarginSpec("0 0 5 0")),
                    Html.X().Container().Layout(LayoutType.Column).ColSpan(2).MarginSpec("0 0 5 0").Items(
         Html.X().Container().Layout(LayoutType.Column).MarginSpec("0 5 0 0").ColumnWidth(0.5).Items(
         Html.X().NumberFieldFor(m => m.Cost)
                 .MinValue(0)
                 .AllowDecimals(true)
                     .Icon(Icon.Coins).ReadOnly(true)
                 .FieldLabel("Chi phí dự tính")
                 .MarginSpec("0 5 0 0")
                 .ColumnWidth(0.7),
         Html.X().TextField().Text("VNĐ")
                 .Icon(Icon.MoneyDollar)
                 .ColumnWidth(0.3)
                 ),
     Html.X().ComboBoxFor(m => m.TaskLevelID)
             .ID("cbLevelID")
             .MarginSpec("0 0 5 0")
             .FieldLabel("Mức độ công việc" + Html.Required())
             .EmptyText("Chọn mức độ công việc")
             .LabelWidth(120)
             .BlankText("Mức độ ưu tiên chưa được chọn!")
             .DisplayField("Name")
                 .ValueField("ID").ReadOnly(true)
             .Editable(false)
             .ColumnWidth(0.5)
                 .Tpl(
                @<text>
                    <tpl for=".">
                        <div class="x-boundlist-item" style="display: inline-block; width: 100%;">
                            <div style="width: 50px; height: 20px; float: left; background-color: {Color}; border: #cecece 1px solid;">&nbsp;</div><div style="width: auto; float: left">&nbsp;{Name}</div>
                        </div>
                    </tpl>
                </text>)
             .Store(
                 Html.X().Store()
                     .ID("stTaskLevel")
                     .AutoLoad(true)
                     .Model(
                         Html.X().Model().IDProperty("ID")
                             .Fields(
                                 new ModelField("ID", ModelFieldType.Int) { Mapping = "ID" },
                                 new ModelField("Name", ModelFieldType.String) { Mapping = "Name" },
                                 new ModelField("Color", ModelFieldType.String) { Mapping = "Color" }
                             )
                     )
                     .Proxy(Html.X().AjaxProxy()
                             .Url(Url.Action("LoadStoreIsUse", "TaskLevel", new { area = "Task" }))
                         .Reader(Html.X().JsonReader().Root("data"))
                     )
             )
             .Listeners(l => l.Change.Handler = "getColor(App.cbLevelID, App.stTaskLevel);")
                     ),
                         Html.X().TextAreaFor(m => m.Contents).ReadOnly(true)
                             .ID("txtContent")
                             .FieldLabel("Nội dung công việc")
                             .EmptyText("Nhập nội dung chi tiết cho công việc")
                             .Flex(1),
                                 Html.X().EmployeeFieldFor(m => m.Perform).AllowBlank(false).ReadOnly(true).Title("Người thực hiện" + Html.Required()).MarginSpec("0 0 5 105"),
                              Html.X().TextAreaFor(m => m.Reason).FieldLabel("Lý do" + Html.Required()).ReadOnly(true)

                                         )
                              ),
                                Html.X().ApprovalPanelFor(m => m).ReadOnly(true)
                              )

                )

            .Buttons(
                Html.X().ButtonExit()
            )
)