@using Ext.Net;
@using Ext.Net.MVC;
@{
    Layout = Model!=null && Model ? null: "~/Views/Shared/_Layout.cshtml";
}
@(Html.X().Window()
    .ID("AccessDeniedWindow")
    .Title("Thông báo")
    .Icon(Icon.Exclamation)
    .Width(300)
    .Height(100)
    .Border(false)
    .Frame(true)
    .FrameHeader(true)
    .Resizable(false)
    .Modal(true)
    .Split(false)
    .BodyStyle("background-color: #CED9E7; text-align: center; padding-top:10px")
    .Items(
        Html.X().Label().PaddingSpec("5 0 0 0").StyleSpec("font-weight: 500; color: Black;").Text("Bạn không có quyền truy cập chức năng này !")
    )
    .ButtonAlign(Alignment.Center)
    .Buttons(
        Html.X().Button().Icon(Icon.Accept).Text("Đồng ý").Handler("this.up('window').close()")
    )
)


@*<div style="width:100%; text-align:center;margin:auto;top:30%;position:absolute;" >
    <img src='/Content/themes/base/images/accessdenied.png'>
    <p style="font-weight:bold;font-size:large;color:red;">Bạn không có quyền truy cập chức năng này !!!</p>
</div>*@
