@using Ext.Net;
@using Ext.Net.MVC;
<html>
<head>
</head>
<body>
    <form>
        <div>
            <b>Đã có lỗi xảy ra trong quá trình cập nhật phản hồi  !!!!
                Gửi lại email cho chúng tôi hoặc liên hệ với bộ phận CSKH để được giải đáp !!!!    </b>
        </div>
    </form>
</body>
</html>