@using Ext.Net;
@using Ext.Net.MVC;
@{
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<div class="msg x-box-mc">
    <h3><em>
        @(Html.X().Label().Text("Bạn không có quyền truy cập chức năng này ! ").Icon(Icon.Error))
    </em></h3>
</div>
