@using Ext.Net;
@using Ext.Net.MVC;
@using iDAS.Web.ExtExtend;
@model iDAS.Items.HumanRecruitmentCriteriaItem
@{
    var X = Html.X();
    var template = "<span style='color:{0};'>{1}</span>";
    var ActiveStatus = "";
    if (Model.IsActive == true)
    {
        ActiveStatus = string.Format(template, "green", "Đã kích hoạt");
    }
    else
    {
        ActiveStatus = string.Format(template, "red", "Chưa kích hoạt");
    };
}
@(Html.X().Window().ID("winCriteriaDetail")
.Title("Xem chi tiết tiêu chí tuyển dụng")
.Icon(Icon.Zoom)
.Width(800)
.BodyPadding(0)
.Margin(0)
.Constrain(true)
.Layout(LayoutType.Fit)
.Modal(true)
.Resizable(false)
.Items(
    Html.X().FormPanel()
    .ID("frmCriteriaDetail")
    .Layout(LayoutType.Column)
    .Frame(true)
    .Border(false)
    .MarginSpec("0 -4 -3 -4")
    .StyleSpec("border: none;")
    .FieldDefaults(df => { df.LabelWidth = 110;})
        .Items(
                X.TextFieldFor(m => m.Name).FieldLabel("Tiêu chí").ColumnWidth(1).MarginSpec("5 8 0 8").ReadOnly(true),
                X.NumberFieldFor(m => m.MinPoint).FieldLabel("Điểm tối thiểu").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                X.NumberFieldFor(m => m.MaxPoint).FieldLabel("Điểm tối đa").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                    X.NumberFieldFor(m => m.Factor).FieldLabel("Hệ số").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                    X.CheckboxFor(m => m.IsActive).FieldLabel("Kích hoạt").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                X.TextFieldFor(m => m.Role.Name).FieldLabel("Chức danh").ColumnWidth(1).MarginSpec("5 8 0 8").ReadOnly(true),
                X.TextFieldFor(m => m.Role.Department).FieldLabel("Phòng ban").ColumnWidth(1).MarginSpec("5 8 0 8").ReadOnly(true),
                X.TextAreaFor(m => m.Content).FieldLabel("Nội dung").Height(100).ColumnWidth(1).MarginSpec("5 8 0 8").ReadOnly(true),

                X.TextFieldFor(m => m.CreateByName).FieldLabel("Người tạo").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                X.DateFieldFor(m => m.CreateAt).FieldLabel("Ngày tạo").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                X.TextFieldFor(m => m.UpdateByName).FieldLabel("Người sửa").ColumnWidth(0.5).MarginSpec("5 8 0 8").ReadOnly(true),
                X.DateFieldFor(m => m.UpdateAt).FieldLabel("Ngày sửa").ColumnWidth(0.5).MarginSpec("5 8 5 8").ReadOnly(true)
           )
    )
    .Buttons(Html.X().ButtonExit())
)

