.header {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}
.left-header {
    float: left;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
}
    .left-header > img {
        display: inline;
        width: 103px;
        border: none;
    }
.right-header {
    float: left;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    height: 93px;
}
.title {
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
}
.title-items {
    display: inline-block;
}
.item {
    float: left;
    font-family: Tahoma;
    font-size: 10pt;
    margin-right: 25px;
}
.idas-table {
    width: 98%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 15px;
}
.idas-table-header-row {
    background-color: #d9e7f8;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 8pt;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #b4b4b4;
    padding: 8px 0px 8px 0px;
}
.idas-table-detail-row {
    font-family: Tahoma;
    font-size: 9pt;
    line-height: 15px;
    border: 1px solid #b4b4b4;
    padding: 5px;
}
.idas-table-title-row {
    font-family: Tahoma;
    font-size: 9pt;
    font-weight: bold;
    background-color: #eaf0f6;
    line-height: 15px;
    border: 1px solid #b4b4b4;
    padding: 5px 3px 5px 3px;
}
.idas-table-td-right {
    text-align: right !important;
}
.idas-table-td-center {
    text-align: center;
}
.idas-table-td-justify {
    text-align: justify;
}
.footer {
    display: inline-block;
    width: 98%;
    margin: 0 auto;
    text-align: center;
}
.left-footer {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
}
.center-footer {
    width: 34%;
    margin-top: 20px;
    float: left;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
}
.right-footer {
    width: 25%;
    margin-top: 20px;
    float: left;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
}
.clear_l {
    clear:left;
}
.text-justify{
    text-align:justify;
}
.text-bold{
     font-weight:bold
}