.search-item {
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #eeeeee;
    white-space: normal;
    color: #555;
}

    .search-item h3 {
        -moz-font-feature-settings: inherit;
        -moz-font-language-override: inherit;
        color: #222;
        display: block;
        font-family: Cambria,Times New Roman,Tahoma;
        font-size: 1.1em;
        font-size-adjust: inherit;
        font-stretch: inherit;
        font-style: inherit;
        font-variant: inherit;
        font-weight: bold;
        line-height: inherit;
        margin: 0;
    }

#unlicensed {
    display: none !important;
    width: 0px;
}

.x-form-item-label {
    color: #031C5E;
    font: normal 11px/14px tahoma,arial,verdana,sans-serif;
    margin-top: 4px;
}

.x-form-cb-label {
    color: #031C5E;
    margin-top: 4px;
    font: normal 11px/14px tahoma,arial,verdana,sans-serif;
}

.x-form-item, .x-form-field {
    font: normal 11px tahoma,arial,verdana,sans-serif;
}

.x-form-display-field {
    font: normal 11px/14px tahoma,arial,verdana,sans-serif;
    color: #031C5E;
    margin-top: 5px;
}

.x-column-header {
    color: #04468C;
    font: normal 11px/13px tahoma,arial,verdana,sans-serif;
    font-weight: bold;
    text-align: center;
}

.x-accordion-hd .x-panel-header-text-container {
    color: #031C5E;
    font-weight: normal;
    font-family: tahoma,arial,verdana,sans-serif;
    text-transform: none;
}

.x-fieldset-header-text {
    font: 11px/14px bold tahoma,arial,verdana,sans-serif;
    color: #15428B;
    padding: 1px 0;
    font-weight: bold;
}

.x-panel-default-framed {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 4px 4px 4px 4px;
    border-width: 1px;
    border-style: solid;
    background-color: #DFE9F6;
}

.x-grid-dirty-cell {
    background-image: none;
}

.a-grid-cell {
    color: blue;
    cursor: pointer;
}
.AvatarColumn div {
        padding: 0px;
        height: 40px;
    }
.x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
            color: #04468C;
        }
.idas-focus .x-grid-cell {
        background-color: darkkhaki !important;
        opacity: 0.8;
    }
.x-form-text-change {
    background-color: yellow !important;
    background-image: none !important;
    font: 11px tahoma,arial,verdana,sans-serif !important;
}