<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    <script src="~/Scripts/SystemScript/CalendarJS.js"></script>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    @RenderSection("headtag", required: false)
    <style>
        #unlicensed {
            display: none !important;
            width: 0px;
        }
        .x-datepicker-disabled a.x-datepicker-date {
            cursor: default;
            background-color: #E69390;
            color: #F00808;
        }

    </style>
</head>
<body>
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Namespace("CompanyX") 
    @RenderBody()
</body>
</html>
