@using Ext.Net.MVC;
@using Ext.Net;
@using iDAS.Web.ExtExtend
@model iDAS.Items.TrainingItem
@{
    var required = "<span style='color: red;'>(*)</span>";
}
@(Html.X().Window()
        .ID("winDetailTraining")
        .Title("Xem chi tiết thông tin khóa đào tạo")
        .Icon(Icon.Zoom)
        .Frame(true)
        .Constrain(true)
        .Width(700)
        .BodyPadding(5)
        .Center()
        .Resizable(false)
        .Modal(true)
        .Items(
            Html.X().FormPanel().DefaultAnchor("100%")
                .ID("frmDetailTraining")
            .Frame(true)
            .Border(false)
            .StyleSpec("border: none;")
            .FieldDefaults(df => df.LabelWidth = 120)
            .Items(
            Html.X().HiddenFor(m => m.ID),
                   Html.X().TextFieldFor(m => m.Name).AllowOnlyWhitespace(false).ReadOnly(true).BlankText("Tên khóa đào tạo bắt buộc nhập !").FieldLabel("Tên khóa" + required),
                       Html.X().DateFieldFor(m => m.Time).FieldLabel("Thời gian").AllowBlank(false).ReadOnly(true).Format("dd/MM/yyyy"),
                       Html.X().TextAreaFor(m => m.Description).FieldLabel("Mô tả").Height(100).ReadOnly(true),
                       Html.X().FileUploadFieldFor(m => m.File).Multiple(false).FileFilter("application/msword").ReadOnly(true),
                           Html.X().TextAreaFor(m => m.Contents).FieldLabel("Nội dung").Height(200).ReadOnly(true),
                       Html.X().NumberFieldFor(m => m.Order).FieldLabel("Thứ tự").ReadOnly(true),
                       Html.X().CheckboxFor(m => m.IsShow).FieldLabel("Hiển thị").ReadOnly(true)
                )

    )
    .Buttons(
            Html.X().ButtonExit()
    )
)