<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/SystemScript/SystemScript.js"></script>
    @RenderSection("headtag",required: false)
</head>
<body>
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)
    @RenderBody()
</body>
</html>
