<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Phần mềm tích hợp các tiêu chuẩn hệ thống quản lý ISO</title> 
    <link rel="shortcut icon" href="../../Content/images/iDAS.ico" type="image/ico" /> 
    
    @RenderSection("headtag",required: false)
</head>
<body>
    @Html.X().ResourceManager(this.ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)
    @RenderBody()
</body>
</html>
