@using Ext.Net
@using Ext.Net.MVC
@using iDAS.Base
@using iDAS.Utilities
@using iDAS.Web.ExtExtend
@model iDAS.Items.DocumentItem
@(Html.X().ApprovalWindow()
            .UrlSubmit(Url.Action("Approve"))
            .ItemsExtend(
            Html.X()
                .FormPanel()
                .Layout(LayoutType.Border)
                .ID("frApprovalDocument")
                .Items(
                    Html.X().HiddenFor(m => m.ID),
                    Html.X().HiddenFor(m => m.EmployeesCreateID),                    
                    Html.X().Container()
                            .Layout(LayoutType.Fit)
                            .Region(Region.Center)
                            .Margin(1).Items(
                             Html.X().TabPanel()
                    .ID("TabPanel1")
                    .ActiveTabIndex(0)
                    .Border(true)
                    .Items(
                        Html.X().Panel()
                            .ID("Tab1")
                            .Icon(Icon.ApplicationViewDetail)
                                 .Layout(LayoutType.VBox)
                                    .LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch })
                            .StyleSpec("border: none;")
                            .Title("Thông tin tài liệu")
                            .Frame(true)
                            .Items(
                                Html.X().Container()
                                        .Layout(LayoutType.Column).MarginSpec("0 0 5 0")
                                    .Items(
                                        Html.X().TextFieldFor(m => m.Code)
                                                    .ID("Code").FieldLabel("Mã tài liệu")
                                                    .ReadOnly(true)
                                                    .TabIndex(1)
                                                    .ColumnWidth(0.7),
                                        Html.X().TextFieldFor(m => m.Version)
                                                    .ID("txtVersion")
                                                    .FieldLabel("Phiên bản")
                                                    .MarginSpec("0 0 0 5")
                                                    .TabIndex(2).LabelWidth(80)
                                                    .ReadOnly(true)
                                                    .ColumnWidth(0.3)
                                                ),
                                    Html.X().TextFieldFor(m => m.Name).MarginSpec("0 0 5 0")
                                        .ID("txtName")
                                        .FieldLabel("Tên tài liệu")
                                        .ReadOnly(true)
                                        .TabIndex(3),
                                    Html.X().Container().Layout(LayoutType.Column).MarginSpec("0 0 5 0").Items(
                                        Html.X().TextFieldFor(m => m.Type)
                                            .ID("cbType")
                                            .ColumnWidth(0.5)
                                            .FieldLabel("Loại tài liệu")
                                            .ReadOnly(true)
                                            .TabIndex(6),
                                        Html.X().ComboBoxFor(m => m.SecurityID)
                                                .ID("cbSecurity")
                                                .ColumnWidth(0.5)
                                                .LabelWidth(90)
                                                .ReadOnly(true)
                                                .MarginSpec("0 0 0 5")
                                                .FieldLabel("Mức độ bảo mật")
                                                .EmptyText("Chọn mức độ mật của tài liệu...")
                                                .AllowBlank(false)
                                                .BlankText("Mức độ mật bắt buộc chọn!")
                                                .QueryMode(DataLoadMode.Local)
                                                .ForceSelection(true)
                                                .TriggerAction(TriggerAction.All)
                                                .DisplayField("Name")
                                                .ValueField("ID")
                                                    .Tpl(
                                                @<text>
                                                    <tpl for=".">
                                                        <div class="x-boundlist-item"><div style="text-align: center; width: 100%; background-color: {Color}; border: #cecece 1px solid;">{Name}</div></div>
                                                    </tpl>
                                                </text>)
                                        .Store(
                                                Html.X().Store()
                                                    .ID("stDocSecurity")
                                                    .AutoLoad(true).Model(
                                                                            Html.X().Model().IDProperty("ID")
                                                                                    .Fields(
                                                                                            new ModelField("ID", ModelFieldType.Int) { Mapping = "ID" },
                                                                                            new ModelField("Name", ModelFieldType.String) { Mapping = "Name" },
                                                                                                new ModelField("Color", ModelFieldType.String) { Mapping = "Color" }
                                                                                            )
                                                                            )
                                                    .Proxy(Html.X().AjaxProxy().Url(Url.Action("GetDataCboSecurity")).Reader(Html.X().JsonReader().Root("data")))
                                                )
                                            .Listeners(l => l.Change.Handler = "getColor(App.cbSecurity, App.stDocSecurity);")
                                        ),
                                        Html.X().Container().Layout(LayoutType.Column).MarginSpec("0 0 5 0").Items(
                                        Html.X().TextFieldFor(m => m.Category)
                                            .FieldLabel("Danh mục tài liệu")
                                            .ColumnWidth(0.5)
                                            .ID("cbCategory"),
                                            Html.X().TextFieldFor(m => m.DepartmentOfCategory).MarginSpec("0 0 5 0").FieldLabel("Thuộc phòng")
                                                .ReadOnly(true).LabelWidth(90)
                                            .ID("txtCategoryDept")
                                            .ColumnWidth(0.5)
                                            .MarginSpec("0 0 0 5")
                                    ),
                                Html.X().CheckboxGroupFor(m => m.StorageFormID, new List<Checkbox.Config> {
                                    new Checkbox.Config{BoxLabel = "Bản mềm", InputValue =iDAS.Items.StorageForm.SoftCopy.ToString() , ReadOnly= true, TabIndex=8},
                                    new Checkbox.Config{BoxLabel = "Bản cứng", InputValue =iDAS.Items.StorageForm.HardCopy.ToString(), ReadOnly= true, TabIndex=9}
                                        }).FieldLabel("Hình thức lưu trữ")
                                    .ID("rabgrStore")
                                    .ColumnWidth(0.5),
                                         Html.X().DepartmentFieldFor(m => m.Department).FieldLabel("Phòng/ban lưu trữ").ReadOnly(true).Multiple(false).AllowBlank(false).Height(25).MarginSpec("0 0 3 0"),
                                Html.X().Container()
                                        .Layout(LayoutType.Column).MarginSpec("0 0 5 0")
                                    .Items(
                                        Html.X().NumberFieldFor("IssuedTime")
                                            .ID("IssuedTime").FieldLabel("Lần ban hành")
                                            .TabIndex(12)
                                            .ReadOnly(true)
                                            .ColumnWidth(0.5)
                                   
                                    ),
                               
                                    Html.X().FileUploadFieldFor(m => m.AttachmentFile).ReadOnly(true),
                                           Html.X().TextAreaFor(m => m.Content)
                                            .ID("txtDescription")
                                                .FieldLabel("Nội dung chính").MarginSpec("0 0 5 0")
                                            .ReadOnly(true)
                                            .TabIndex(11).MinHeight(100).Flex(1),
                                        Html.X().TextFieldFor(m => m.Note).MarginSpec("0 0 5 0")
                                        .ID("txtNote")
                                        .FieldLabel("Ghi chú")
                                        .ReadOnly(true)
                                        .TabIndex(5),
                                         Html.X().Container()
                                        .Layout(LayoutType.Column).MarginSpec("0 0 5 0")
                                    .Items(
                                Html.X().TextFieldFor(m => m.CreateByName)
                                    .ID("txtCreateByName")
                                    .ReadOnly(true)
                                    .FieldLabel("Người tạo").ColumnWidth(0.5)
                                    .TabIndex(11),
                                Html.X().DateFieldFor(m => m.CreateAt)
                                    .ColumnWidth(0.5)
                                    .ID("dtCreateAt")
                                    .ReadOnly(true)
                                    .FieldLabel("Thời gian tạo")
                                    .MarginSpec("0 0 0 5")
                                    .TabIndex(11).Format("dd/MM/yyyy")
                                    ),
                                Html.X().Container()
                                        .Layout(LayoutType.Column).MarginSpec("0 0 5 0")
                                    .Items(
                                         Html.X().TextFieldFor(m => m.UpdateByName)
                                            .ID("txtUpdateByName")
                                             .ReadOnly(true)
                                            .FieldLabel("Người sửa").ColumnWidth(0.5)
                                            .TabIndex(11),
                                    Html.X().DateFieldFor(m => m.UpdateAt)
                                        .ColumnWidth(0.5)
                                        .ID("dtUpdateAt")
                                        .ReadOnly(true)
                                        .FieldLabel("Thời gian sửa")
                                        .MarginSpec("0 0 0 5")
                                        .TabIndex(11).Format("dd/MM/yyyy")
                                    )
                                   )
                             )
                         )
                     )
              )
        .ID("winApprovalDocument"))
